<form method="post" action="@Url.Action("addData","ModuleManage")">
    <table>
     
        <tr><td>Name</td><td><input type="text" value="" name="Name" /></td></tr>
        <tr><td>Controller</td><td><input type="text" value="" name="Controller" /></td></tr>
        <tr><td colspan="2"><input type="submit" value="确认添加" /></td></tr>
    </table>
</form>